#body {
  padding: 0px;
  margin: 0px;
}

.navbar-toggler-icon > .navbar {
  height: 10px;
}

.btn-primary {
  background-color: #d52856;
  border: none;
  align-content: center;
}

.btn-primary:hover {
  background-color: #b52249;
  border: none;
}

.d-block {
  filter: brightness(50%);
}

.parallax_trilha {
  background-image: url("./img/trilha.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_treino_praia {
  /* The image used */
  background-image: url("./img/treino-praia.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_trilha_texto {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding: 100px;
}

.row_title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-item {
  height: 75vh;
  background-size: cover;
}
.navbar {
  padding: 20px;
}

.container {
  padding: 50px;
}

.row {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.col-lg {
  justify-content: center;
  align-self: auto;
}
